PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/construction_pricing
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d
CLIENT_ORIGIN=http://localhost:5173
SEED_SUPERADMIN_NAME=Super Admin
SEED_SUPERADMIN_EMAIL=admin@example.com
SEED_SUPERADMIN_PASSWORD=ChangeMe123!
